{% extends 'invoices/__base.html' %}
{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block header %}
{% endblock %}

{% block body %}
  <!-- Title -->
  <div class="container-fluid">
    <div class="py-2"></div>
    <div class="text-center text-dark pt-4 pb-2">
      <h1><strong>Invoice Generator</strong></h1>
    </div>
    <div class="text-center text-secondary pt-2 pb-4">
      Please fill out the information below to generate an invoice.
    </div>
    <div class="row py-2">
      <div class="col"></div>
      <div class="col border-bottom"></div>
      <div class="col"></div>
    </div>
  </div>
  <!-- End Title -->

  
  <div class="container-sm py-4">
    <form enctype="multipart/form-data" action="#" method="post">
      {% csrf_token %}
      
      <!-- Optional Invoice Number Field -->
      {% bootstrap_label bill_of_lading_form.optional_invoice_number.label label_class='mb-0' %}
      <br>
      {% bootstrap_label "Leave empty to automatically determine the next invoice number." label_class='form-text mb-1' %}
      {% bootstrap_field bill_of_lading_form.optional_invoice_number show_label=False %}

      <!-- Optional Sales Number Field -->
      {% bootstrap_label bill_of_lading_form.optional_sales_number.label label_class='mb-0' %}
      <br>
      {% bootstrap_label "Leave empty to scan the sales number." label_class='form-text mb-1' %}
      {% bootstrap_field bill_of_lading_form.optional_sales_number show_label=False %}

      <!-- Optional Delivery Number Field -->
      {% bootstrap_label bill_of_lading_form.optional_delivery_number.label label_class='mb-0' %}
      <br>
      {% bootstrap_label "Leave empty to scan the delivery number." label_class='form-text mb-1' %}
      {% bootstrap_field bill_of_lading_form.optional_delivery_number show_label=False %}

      <!-- Optional Delivery Date Field -->
      {% bootstrap_label bill_of_lading_form.optional_delivery_date.label label_class='mb-0' %}
      <br>
      {% bootstrap_label "Leave empty to scan the delivery date. Otherwise provide date in DD/MM/YY" label_class='form-text mb-1' %}
      {% bootstrap_field bill_of_lading_form.optional_delivery_date show_label=False %}
      
      <!-- Bill of Lading Field -->
      {% bootstrap_field bill_of_lading_form.bill_of_lading %}
      <!-- Trailer Field -->
      {% bootstrap_field trip_form.trailer %}
      
      <!-- Ship-to-address Field -->
      {% bootstrap_field trip_form.ship_to_address %}
      <!-- Rate Field -->
      {% bootstrap_field invoice_form.rate addon_before="$" placeholder='1000' addon_after=".00" %}
      <!-- Notes Field -->
      {% bootstrap_field invoice_form.notes %}
        
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-auto text-center">{% bootstrap_button button_type="submit" content="Generate Only" size='md' name="generate" button_class="btn-outline-secondary my-1" %}</div>
        <div class="col-sm-auto text-center">{% bootstrap_button button_type="submit" content="Generate and Save" size='md' name="generate_and_save" button_class="btn-primary my-1" %}</div>
        
        
      </div>
    </form>
  </div>

{% endblock %}