{% extends 'index/__base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block body %}
  <!-- Title -->
  <div class="container-fluid">
    <div class="py-2"></div>
    <div class="text-center text-dark pt-4 pb-2">
      <h1><strong>Welcome!</strong></h1>
    </div>
    <div class="text-center text-secondary pt-2 pb-4">
      You've landed at aaronzepeda.com.
    </div>
    <div class="row py-2">
      <div class="col"></div>
      <div class="col border-bottom"></div>
      <div class="col"></div>
    </div>
  </div>
  <!-- End Title -->
{% endblock %}